<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="C:\Users\Chidiebere Ugwuoji\CSS VIEW\CSS\nav.css">
    <link rel="stylesheet" href="C:\Users\Chidiebere Ugwuoji\CSS VIEW\CSS\index.css">
</head>
<body>
    <nav>header</nav>
    <nav class="navbar">
        <a href="index.html">home</a>
        <a href="about.html">about</a>
    </nav>

    <main>
        
        <h1>My Gallery</h1>
        
        <p>
            Test and optimize web pages for mobile, tablet, and desktop
            devices.
            Note: Push your assignment to GitHub and submit the link
            
            Note: the attached video is just a sample of what is expected of you. Feel free to go beyond</p>

            <section class="section4">
                <div class="box">
                    <img src="C:\Users\Chidiebere Ugwuoji\CSS VIEW\images\logo.jpg.jpg"alt="liberation logo">
                </div>


            </section>
    </main>

    <footer>footer</footer>

</body>
</html>