<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive web Page</title>
    <link rel="stylesheet" href="C:\Users\Chidiebere Ugwuoji\CSS VIEW\CSS\nav.css">
    <link rel="stylesheet" href="C:\Users\Chidiebere Ugwuoji\CSS VIEW\CSS\index.css">
</head>
<body>
    <nav>Header</nav>
    <nav class="navbar">

        <a href="index.html">home</a>
        <a href="about.html">about</a>

    </nav>

    <main>
        <section class="section1">

        <h1>best website design for 2024 by vic3</h1>
        <p>
            Test and optimize web pages for mobile, tablet, and desktop
            devices.
            Note: Push your assignment to GitHub and submit the link
            
            Note: the attached video is just a sample of what is expected of you. Feel free to go beyond</p>
        </section>

            <section class="section2">
                <h3>Responsive website</h3>
                <p>Lorem ipsum dolor sitamet consectetur adipisicing elit. Dolorem dolorum exercitationem, minima inventore itaque, hic maxime quidem voluptas nostrum nam, debitis velit magnam. Aliquam numquam voluptas nesciunt harum nostrum eius?</p>


            </section>

            <section class="section3">
                <h3>Trust The Process</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolorum exercitationem, minima inventore itaque, hic maxime quidem voluptas nostrum nam, debitis velit magnam. Aliquam numquam voluptas nesciunt harum nostrum eius?</p>

            </section>
    
            <footer>Footer</footer>

</body>
</html>